<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>MSIPP Form</title>
      <link rel="shortcut icon" href="./assets/Icons/MSIPP_logo_rev.ico" type="image/x-icon">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/styles.css">
      <script defer src="/javascripts/script.js" type="module"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="./assets/Icons/MSIPP_logo_rev.png" alt="MSIPP"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="home page" href="/">
                  <div class="iconNbutton">
                    <i class="material-icons">home</i><p>Home</p>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                  <div class="iconNbutton">
                    <i class="material-icons">assessment</i><p>Dashboard</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
    <div class="container p-5">
      <div class="page-title">
          <h1 id="surveytitle" class="text-center">Minority Support Institution Partner Program Form</h1>
          <p class="text-center">Finding and connecting with our <a class="link-opacity-50-hover " href="https://www.linkedin.com/showcase/doe-em-msipp-alumni/" target="_blank">MSIPP Alumni</a></p>
      </div>
      <main>
          <form class="needs-validation" novalidate>
              <section>
                  <h3 class="text-left my-lg-4">Personal Details</h3>
  
                  <!-- Full Name -->
                  <div class="row g-3">
                      <div class="col">
                          <!-- First Name -->
                          <div class="input-group mb-3">
                              <span class="input-group-text">First Name</span>
                              <input type="text" class="form-control" aria-label="First name" aria-describedby="inputGroup-sizing-default" name="fName" id="fName" placeholder="Enter your first name..." autocomplete="given-name" autocapitalize="given-name" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                            </div>
  
                      </div>
                      <div class="col">
                          <!-- Last Name -->
                          <div class="input-group mb-3">
                              <span class="input-group-text">Last Name</span>
                              <input type="text" class="form-control" aria-label="Last name" aria-describedby="inputGroup-sizing-default" name="lName" id="lName" placeholder="Enter your last name..." autocomplete="family-name" autocapitalize="family-name" required>
                              <div class="valid-feedback">
                                Looks good!
                              </div>
                          </div>
                      </div>
                  </div>
  
                  <!-- Email Address -->
                  <div class="input-group mb-3">
                      <span class="input-group-text" >Email</span>
                      <input type="email" class="form-control" aria-label="Email" aria-describedby="inputGroup-sizing-default" name="email" id="email" placeholder="Enter your email..." autocomplete="email" minlength="3" required>
                      <div class="invalid-feedback">
                        Please enter an email.
                      </div>
                    </div>
                  
                  <!-- Permanent Residents and Zip -->
                  <div class="input-group">
                      <span class="input-group-text">Permanent Residents</span>
                      <select class="form-select" aria-label="Permanent State Residents?" id="resState" name="resState" autocomplete="on" required>
                          <option selected value="" aria-readonly="true" disabled>What's your state?</option>
                        </select>
                      <input type="text" aria-label="Zip Code" class="form-control" pattern="[0-9]{5}" inputmode="numeric" placeholder="Zip Code" name="resZip" id="resZip" autocomplete="postal-code" minlength="5" required>
                    </div>
              </section>

              <section>
                  <h3 class="text-left my-lg-4">Institution Information</h3>
                  
                  <!-- Institution Name -->
                  <div class="institution_section mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Institution Name</span>
                        <input type="search" class="form-control" aria-label="Institution Name?" aria-describedby="inputGroup-sizing-default" placeholder="What is your institution?" name="institution" id="institution" autocapitalize="on" autocomplete="off" minlength="3" required>
                      </div>
                      <ul id="insSearchResults" class="list-group"></ul>
                  </div>
  
                  <!-- Institution State and Zip -->
                  <div class="input-group mb-3">
                      <span class="input-group-text">Institution Location</span>
                      <select class="form-select input" aria-label="Institution State and Zip?" id="insState" name="insState" required>
                          <option selected value="" aria-readonly="true" disabled>Institution's State?</option>
                        </select>
                      <input type="text" aria-label="Institution Zip Code" class="form-control" pattern="[0-9]{5}" inputmode="numeric" placeholder="Institution Zip Code" name="insZip" id="insZip" minlength="5" autocomplete="off" required>
                    </div>
  
                  <!-- Institution MSI Type -->
                  <div class="input-group mb-3">
                      <span class="input-group-text">MSI Type</span>
                      <select class="form-select input" aria-label="Institution MSI Type?" id="msiType" name="msiType" required>
                          <option selected value="" aria-readonly="true" disabled>Type...</option>
                        </select>
                        <select class="form-select input" aria-label="Secondary institution MSI Type if neccessary" id="msiType2" name="msiType2">
                          <option selected value="" aria-readonly="true" disabled>Secondary Type (if applicable)...</option>
                        </select>
                  </div>
                  
                  <!-- Classification and Major -->
                  <div class="input-group mb-3">
                      <select class="form-select" aria-label="What is your Classification and Major?" name="classification" id="classification" required>
                          <option selected value="" aria-readonly="true" disabled>What is your Classification?</option>
                      </select>
                      <input type="text" aria-label="Major" class="form-control" placeholder="What is your major?" name="major" id="major" autocapitalize="words" autocomplete="off" minlength="3" required>
                  </div>
  
                  <!-- Principle Investigator -->
                  <div class="input-group mb-3">
                      <span class="input-group-text" >Principle Investigator</span>
                      <input type="text" class="form-control" aria-label="What's the name of your principle investigator?" aria-describedby="inputGroup-sizing-default" name="prinInvest" id="prinInvest" placeholder="Who is your principle investigator?" autocapitalize="words" autocomplete="off">
                    </div>
  
              </section>

              <section>
                  <h3 class="text-left my-lg-4">MSIPP Information</h3>
                  <!-- MSIPP Program -->
                  <div class="input-group mb-3">
                      <span class="input-group-text">MSIPP Program</span>
                      <select class="form-select" aria-label="What is your MSIPP Program?" name="msipp" id="msipp" required>
                          <option selected value="" aria-readonly="true" disabled>What is your MSIPP Program?</option>
                      </select>
                      <select class="form-select" aria-label="What year did you participate in the MSIPP Program?" name="msippYear" id="msippYear" required>
                        <option selected value="" aria-readonly="true" disabled>What year did you participate in the MSIPP Program?</option>
                      </select>
                    </div>
                  
                  <div class="input-group mb-3">
                      <span class="input-group-text">National Labratory</span>
                      <select class="form-select" aria-label="What National Labratory did you attend?" name="lab" id="lab" required>
                          <option selected value="" disabled aria-readonly="true">What was the national labratory?</option>
                      </select>
                      <div class="invalid-feedback">
                        Which laboratory did you attend?
                      </div>
                  </div>
              </section>
              
              <input type="submit" value="Submit" class="btn-color btn btn-primary w-100 my-3">
          </form>
      </main>
    </div>
  </body>
</html>