@import url(./design.css);

*, *::before, *::after {
    box-sizing: border-box;
}




body {
    margin: 0;
    border-left: 0;
    background-color: var(--background-color-25);
}

.container{
    background-color: var(--background-color);
}

main {
    display: grid;
    place-content: center;
    min-width: 500px;
    padding: 1.5em;
}


.institution_section {
    width: 100%;
    position: relative;
}


.btn-color {
    background-color: var(--accent-color);
    color: var(--text-primary);
}

.btn-color:hover {
    background-color: var(--accent-color-hover);
    color: var(--background-color);
}

#institution {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#insSearchResults {
    position: absolute;
    max-height: 400px;
    overflow-y: auto;
    z-index: 999;
    background-color: rgb(220, 220, 220);
    width: 100%;
}


#insSearchResults li {
    cursor: pointer;
    min-width: 100%;
}

#insSearchResults li:hover {
    background-color: rgba(13, 110, 253); /*Testing purposes*/
    color: white;
}

#insSearchResults li:active {
    background-color: rgba(13, 110, 253, 75%);
}

#majorSection {
    position: relative;
}

#major {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#majSearchResults {
    position: absolute;
    max-height: 250px;
    overflow-y: auto;
    z-index: 999;
    background-color: rgb(220, 220, 220);
    width: 100%;
}

#majSearchResults li {
    cursor: pointer;
    min-width: 100%;
}

#majSearchResults li:hover {
    background-color: rgba(13, 110, 253); /*Testing purposes*/
    color: white;
}

#majSearchResults li:active {
    background-color: rgba(13, 110, 253, 75%);
}



