*, *::before, *::after {
    box-sizing: border-box;
}


body {
  margin: inherit;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 0;
}

main {
  place-content: center;
  height: 100%;
  display: block;
}