


html {
    /* top: auto; */
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}


body {
    margin: 0;
    height: 100vh;
    width: 100%;
    /* overflow: visible; */
}

main {
    display: grid;
    /* margin: auto; */
    place-content: center;
    min-width: 500px;
    /* max-width: 60%; */

}

datalist {
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}
  
datalist > option {
    font-size: 16px;
    color: black;
    background-color: white;
}

datalist > option:hover {
    background-color: #f0f0f0;
}

